body{
    margin: 0;
    font-family: "Inter", sans-serif;
}
header {
    background: linear-gradient(#65d575,#7fd08b);
    display: flex;
    justify-content: space-between;
    padding: 0 5.99rem;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #000000;
    margin: 20px 0px;
}

.logo-img {
    margin: auto;
    background: white;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img > img{
    width: 40px;
}

.logo-heading{
    margin: 0px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #666666;
    font-weight: bold;
}

.navBar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.navBar a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}

.navBar a:hover{
    text-decoration: underline;
}

.btn{
    border: none;
    margin: 0px 10px;
    color: #ffffff;
    background-color: unset;
    font-size: 1.125rem;
    text-decoration: none;
}